.MuiSnackbar-root {
  left: 50% !important;
  right: auto !important;
  margin: 0 auto !important;
  transform: translateX(-50%);
  justify-content: center !important;
}
.MuiSnackbar-root .MuiSnackbarContent-root {
  background-image: url(../../assets/art.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  min-height: 80px;
  min-width: 600px;
  max-width: 800px;
  padding-left: 20px;
  position: relative;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.MuiSnackbarContent-root .MuiSnackbarContent-message {
  font-size: 1rem;
  font-weight: 300;
  flex-basis: calc(100% - 60px);
  max-width: calc(100% - 60px);
  padding: 10px 0;
}
.MuiSnackbarContent-root .MuiSnackbarContent-message svg {
  font-size: 2rem;
}
.MuiSnackbarContent-root .MuiSnackbarContent-action {
  flex-basis: 60px;
  max-width: 60px;
}
.MuiSnackbarContent-action .MuiIconButton-root {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-decoration: underline;
  padding: 8px;
}
