.subHeaderWrap {
  height: 67px;
  width: 100%;
  display: block;
}

.subHeader {
  display: flex;
  height: 67px;
  width: 100%;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 100;
  background-image: url(../assets/header_bg.svg);
  background-size: cover;
}

.subHeader .subHeadingtext {
  font-size: 0.7rem;
  color: #feffed;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-right: 71px;
}

.subHeader .subHeadingDatatext {
  font-size: 0.9rem;
}

.subHeader .leftContent,
.subHeader .rightContent {
  display: flex;
  height: 67px;
  width: 50%;
  align-items: center;
  z-index: 100;
  /* background: rgb(85, 114, 29);
	background: linear-gradient(0deg, rgba(85, 114, 29, 1) 0%, rgba(95, 138, 26, 1) 100%); */
}

.subHeader .rightContent {
  justify-content: flex-end;
}

.subHeaderBtnCol {
  margin-left: auto;
}

.subHeaderBtnCol button {
  padding: 0 0 0 3px;
  min-width: auto;
}

.cardSubHeader h6 {
  font-size: 1rem;
  font-weight: 400;
}

.cardSubHeader {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.fixedSidePanel {
  width: 77px;
  height: 100%;
  flex-flow: 1;
}

.sidePanelBox {
  width: 77px;
  display: flex;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
  cursor: pointer;
}

.sidePanelBox ul {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style: none;
}

.sidePanelBox ul li {
  margin: 20px 0;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 0.7rem;
  position: relative;
}

.sidePanelBox ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #bfbfbf;
  bottom: -10px;
  left: 0;
  position: absolute;
}

.sidePanelBox ul li:hover {
  background-color: #815739;
}

.contentArea {
  width: calc(100% - 77px);
  padding: 0 25px;
}

.contentArea .topActionBar {
  width: 100%;
  height: 60px;
  display: block;
  position: relative;
}

.contentArea .stickyActionBar {
  height: 60px;
  padding: 10px 0;
  width: calc(100% - 127px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 11000;
  background: #feffed;
}

.contentArea .formHeading {
  font-size: 1.1rem;
  color: #805537;
}

.contentArea .np-btn {
  min-width: 90px;
  margin-left: 6px;
}

.np-btn .material-icons {
  font-size: 1rem;
  top: -1px;
  position: relative;
}

.paperCard {
  border: 1px solid #f4eddc;
  box-shadow: 3px 3px 10px rgba(56, 48, 36, 0.15) !important;
  position: relative;
}

.paperCard .cardHeader,
.paperCard .MuiTabs-root {
  background-color: #f5f5f5;
  height: 47px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 25px;
  border-radius: 3px 3px 0 0;
}

.MuiTab-root {
  min-width: 80px !important;
}

.paperCard .MuiTab-root {
  margin-right: 50px;
}

.cardHeader h6 {
  font-size: 1rem;
  font-weight: 400;
}

.paperCard .paperContent {
  padding: 15px 20px;
}

.paperContent .MuiInput-underline:before,
.noFieldLine .MuiInput-underline:before {
  border-bottom: none !important;
}

.paperContent .MuiInput-underline:after,
.noFieldLine .MuiInput-underline:after {
  border-bottom: none !important;
}

.paperContent .MuiInput-underline:hover:not(.Mui-disabled):before,
.noFieldLine .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none !important;
}

.lh-60 {
  line-height: 60px !important;
}

.paperCard .MuiTabs-root .MuiTabs-indicator {
  background-color: #805537;
}

.headerAlignCenter .logoBox {
  justify-content: center !important;
}

.minCard-height {
  min-height: 280px;
}

.mt-2 {
  margin-top: 20px;
}

.newContactBtn {
  position: absolute;
  top: 0;
  right: 15px;
}

.newContactBtn button,
.tinyActionBtn button {
  color: #805537;
  font-weight: 400;
}

.tinyActionBtn button {
  text-transform: capitalize;
}

.newContactBtn button img,
.tinyActionBtn button img {
  margin-left: 7px;
}

.newContactBtn button:hover,
.tinyActionBtn button:hover {
  background-color: transparent;
}

.newContactBtn .MuiTouchRipple-root,
.tinyActionBtn .MuiTouchRipple-root {
  display: none;
}

.searcBarCard {
  top: 6px;
}

.searcBarCard .searchInput .searchIcon {
  top: 8px;
}

.searcBarCard .searchInput .MuiFilledInput-root {
  background-color: #e3e3e3 !important;
}

.tableTopRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 5px 0;
}

.moreVertIco .material-icons {
  font-size: 1.1rem;
}

.loanListDropMenu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  position: relative;
}

.loanListDropMenu .formControl {
  padding: 15px;
  max-width: 230px;
}

.loanListButton,
.likePlaceholder,
.loanListDropMenu .MuiInput-underline .MuiInputBase-input {
  color: #805537;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif, Arial;
}

.loanListDropMenu .MuiSelect-select {
  margin-right: 8px;
}

.loanListDropMenu .formControlList {
  margin: 0 0 0 5px;
  max-width: 230px;
}

.loanListButton {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 4px;
}

.loanListButton img {
  opacity: 0.5;
}

.loanListButton .loanExpandList button,
.moreVertIco button {
  min-width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
}

.loanListButton .loanExpandList button .material-icons {
  font-size: 1.1rem;
  margin-top: 3px;
}

.loanListDropMenu .MuiInput-underline,
.loanListDropMenu .MuiInput-underline:before,
.loanListDropMenu .MuiInput-underline:after {
  border: 0 !important;
}

.paginationSearch {
  display: inline-flex;
  align-items: center;
}

.searchInput {
  position: relative;
}

.searchInput .MuiFormControl-root {
  margin-top: 0;
  margin-right: 5px;
}

.searchInput .MuiFilledInput-root {
  width: 291px;
  height: 36px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.07);
  border: 1px solid #f4eddc;
  border-radius: 30px;
  color: #707070;
  padding: 0 30px;
  font-size: 14px !important;
}

.searchInput .MuiFilledInput-root input {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 35px;
  box-sizing: border-box;
}

.searchInput .MuiFilledInput-underline:before,
.searchInput .MuiFilledInput-underline:after {
  display: none;
}

.searchInput .searchIcon {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
  cursor: pointer;
}

.searchInput .MuiFilledInput-root input::-webkit-input-placeholder {
  color: #000;
}

.searchInput .MuiFilledInput-root input::-moz-placeholder {
  color: #000;
}

.searchInput .clearIcon {
  position: absolute;
  right: 10px;
  top: 3px;
}

.searchInput .clearIcon button {
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}

.searchInput .clearIcon .material-icons {
  font-size: 1rem;
  color: #707070;
  padding-top: 1px;
}

.paginationStyle {
  margin-left: 20px;
  align-items: center;
  display: inline-flex;
  margin-top: -4px;
}

.paginationStyle .pageCount {
  color: #707070;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif, Arial;
  margin: 5px 10px 0 5px;
}

.paginationStyle .pageCount .material-icons {
  vertical-align: middle;
  font-size: 1.1rem;
  font-weight: 400;
  color: #707070;
  margin-top: 3px;
}

.paginationStyle button {
  width: 36px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #4848484e;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin-left: 3px;
}

.paginationStyle button .material-icons {
  font-size: 0.9rem;
  font-weight: 600;
  color: #171717;
}

.pageCount button {
  padding: 0;
  border-radius: 50%;
  min-width: 30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  margin-left: 0;
}

.bottomPagination {
  text-align: right;
  margin: 20px 0;
}

.cursorClass {
  cursor: pointer !important;
}

.topActionBar .MuiTableBody-root {
  height: 350px;
}

.amtAlignRight tr th:last-child,
.amtAlignRight tr td:last-child {
  text-align: right;
}

.totalAmt {
  padding: 15px 25px;
  font-size: 0.875rem;
}

.totalAmt span {
  font-weight: 700;
  padding-right: 25px;
}

/* module icons */
.sidePanelBox .event,
#dropDownRecordMenu .event {
  background-image: url("../assets/event_grey.svg");
}

.eventSelected,
.is-current.event {
  background-image: url("../assets/event_active.svg") !important;
  background-color: #815739;
}

.sidePanelBox .event:hover,
#dropDownRecordMenu li:hover .event {
  background-image: url("../assets/event_active.svg");
}

.sidePanelBox .review,
#dropDownRecordMenu .review {
  background-image: url("../assets/review_grey.svg");
}

.reviewSelected,
.is-current.review {
  background-image: url("../assets/review_active.svg") !important;
  background-color: #815739 !important;
}

.sidePanelBox .review:hover,
#dropDownRecordMenu li:hover .review {
  background-image: url("../assets/review_active.svg");
}
.sidePanelBox .profile,
#dropDownRecordMenu .profile {
  background-image: url("../assets/profile_grey.svg");
}
.sidePanelBox .profile:hover,
#dropDownRecordMenu li:hover .profile {
  background-image: url("../assets/profile_active.svg");
}
.sidePanelBox .opportunity,
#dropDownRecordMenu .opportunity {
  background-image: url("../assets/opportunies.svg");
}

.opportunitySelected,
.is-current.opportunity {
  background-image: url("../assets/active_oportunies.svg") !important;
  background-color: #815739 !important;
}

.sidePanelBox .opportunity:hover,
#dropDownRecordMenu li:hover .opportunity {
  background-image: url("../assets/active_oportunies.svg");
}

.sidePanelBox .campanign,
#dropDownRecordMenu .campanign {
  background-image: url("../assets/campaign.svg");
}
.sidePanelBox .eventDetails,
#dropDownRecordMenu .eventDetails {
  background-image: url("../assets/eventDetails.svg");
}
.sidePanelBox .bidNumber,
#dropDownRecordMenu .bidNumber {
  background-image: url("../assets/bidNumbers.svg");
}
.sidePanelBox .batch,
#dropDownRecordMenu .batch {
  background-image: url("../assets/batch.svg");
}
.sidePanelBox .task,
#dropDownRecordMenu .task {
  background-image: url("../assets/task.svg");
}

.is-current.attachment,
.sidePanelBox .attachment:hover {
  background-image: url("../assets/active_attachment.svg") !important;
  background-color: #815739 !important;
}

.campanignSelected,
.is-current.campanign {
  background-image: url("../assets/active_campaign.svg") !important;
  background-color: #815739 !important;
}

.eventDetailsSelected,
.is-current.eventDetails {
  background-image: url("../assets/eventDetailsSelected.svg") !important;
  background-color: #815739 !important;
}

.bidNumberSelected,
.is-current.bidNumber {
  background-image: url("../assets/bidNumbersSelected.svg") !important;
  background-color: #815739 !important;
}

.batchSelected,
.is-current.batch {
  background-image: url("../assets/batchSelected.svg") !important;
  background-color: #815739 !important;
}

.taskSelected,
.is-current.task {
  background-image: url("../assets/taskSelected.svg") !important;
  background-color: #815739 !important;
}

.sidePanelBox .campanign:hover,
#dropDownRecordMenu li:hover .campanign {
  background-image: url("../assets/active_campaign.svg");
}

.sidePanelBox .eventDetails:hover,
#dropDownRecordMenu li:hover .eventDetails {
  background-image: url("../assets/eventDetailsSelected.svg");
}

.sidePanelBox .bidNumber:hover,
#dropDownRecordMenu li:hover .bidNumber {
  background-image: url("../assets/bidNumbersSelected.svg");
}

.sidePanelBox .batch:hover,
#dropDownRecordMenu li:hover .batch {
  background-image: url("../assets/batchSelected.svg");
}

.sidePanelBox .task:hover,
#dropDownRecordMenu li:hover .task {
  background-image: url("../assets/taskSelected.svg");
}

.sidePanelBox .contact,
#dropDownRecordMenu .contact {
  background-image: url("../assets/contact.svg");
}

.contactSelected,
.is-current.contact {
  background-image: url("../assets/active_contact.svg") !important;
  background-color: #815739 !important;
}

.sidePanelBox .contact:hover,
#dropDownRecordMenu li:hover .contact {
  background-image: url("../assets/active_contact.svg");
}

.sidePanelBox .reminder,
#dropDownRecordMenu .reminder {
  background-image: url("../assets/reminder.svg");
}

.reminderSelected,
.is-current.reminder {
  background-image: url("../assets/active_reminder.svg") !important;
  background-color: #815739 !important;
}

.sidePanelBox .reminder:hover,
#dropDownRecordMenu li:hover .reminder {
  background-image: url("../assets/active_reminder.svg");
}

.sidePanelBox .comment,
#dropDownRecordMenu .comment {
  background-image: url("../assets/comment.svg");
}

.commentSelected,
.is-current.comment {
  background-image: url("../assets/active_comment.svg") !important;
  background-color: #815739 !important;
}

.sidePanelBox .comment:hover,
#dropDownRecordMenu li:hover .comment {
  background-image: url("../assets/active_comment.svg");
}

/* module icons */

/* comments */
.commentSection {
  background-image: url("../assets/comment_box_graphic.svg");
  background-repeat: no-repeat;
  background-position: bottom right 70px;
  height: 313px;
  margin-bottom: 1rem;
  padding: 0 10px;
}

.commentSection .commentButton label + .MuiInput-formControl {
  margin-top: 2rem;
}

.commentSection .listingView {
  list-style: none;
  margin-left: 0;
  padding-left: 1.4rem;
  padding-right: 3rem;
  height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 70%;
  word-break: break-all;
}

.commentSection .listingView li {
  display: flex;
  margin-bottom: 0.9rem;
}
.textAreaField {
  width: 100%;
}

/* commnets */
.comment-icns {
  margin-left: 1rem;
}

/* Show All */
.removeAllData {
  height: 248px;
  overflow: hidden;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 6px #0000000d;
  border: 0;
  border-radius: 3px;
}

.showAllData {
  max-height: 380px;
  overflow: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 6px #0000000d;
  border: 0;
  border-radius: 3px;
}

.removeAllData tbody.MuiTableBody-root,
.showAllData tbody.MuiTableBody-root {
  border-top: 0;
}

.viewDataSection {
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #4782f3;
  cursor: pointer;
  border: 1px solid #f4eddc;
  border-top: none;
}

.expandedDataSection {
  height: 600px;
}

/* show All */

/* show menu */
#dropDownRecordMenu {
  position: absolute;
  background: #fff;
  top: 2rem;
  list-style: none;
  width: 13rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: none;
  padding: 0;
  margin: 0;
  z-index: 99999;
}

#dropDownRecordMenu.show {
  display: block;
}

#dropDownRecordMenu li {
  padding: 0.5rem 1rem;
  border-bottom: solid 1px #dfdfdf;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  color: #000;
}

#dropDownRecordMenu li:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

#dropDownRecordMenu li:hover span.icons {
  background-color: #815739;
}

#dropDownRecordMenu li span.icons {
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 0;
  transition: 0.2s all;
  position: relative;
  margin-right: 0.6rem;
}
#overLayFixed {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
}
/* show Menu */

/* All Table Data */
.tableGridData {
  width: 100%;
  overflow: auto;
}

/* Latest Year */
.formHeadingFlex {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.formHeadingFlex .innerFlex {
  display: flex;
}

.totalLatestYear {
  line-height: 1.1rem;
  font-size: 0.8rem;
  text-align: right;
  margin-left: 70px;
}
.totalLatestYear p {
  color: #805537;
}
.totalLatestYear p span {
  color: #000;
  font-size: 1.2rem;
}

.addReminderButton,
.viewAllReminderButton {
  float: right;
}

.viewAllReminderButton {
  margin-right: 5px;
}

#viewAllReminderDialog .MuiPaper-root {
  overflow: visible !important;
}

#viewAllReminderDialog .marginTopFields {
  margin-top: 20px;
}

#viewAllReminderDialog #viewAllTitle .MuiTypography-h6 {
  height: 53px;
  line-height: 53px;
  align-self: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
}

#viewAllReminderDialog .closeButton {
  float: right;
  color: white;
}

#viewAllReminderDialog .textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}

.displayFlex {
  display: flex;
}

.flexTwo {
  flex: 2;
}

.flexFour {
  flex: 4;
}

#viewAllTitle {
  display: flex;
  min-height: 53px !important;
  max-height: 53px !important;
  min-width: 100% !important;
  background: transparent linear-gradient(180deg, #608c1a 0%, #536d1e 100%) 0% 0% no-repeat padding-box;
  background-size: cover;
}

#viewAllReminderDialog .widthViewAllReminder {
  min-height: 53px !important;
  min-width: 100% !important;
}

#viewAllReminderDialog .MuiGrid-item {
  margin: 10px 0 !important;
}

#viewAllReminderDialog .MuiDialog-paperScrollPaper {
  max-height: 100vh !important;
}

#viewAllReminderDialog .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #bce2ff !important;
}

#viewAllReminderDialog .MuiSwitch-colorPrimary.Mui-checked {
  color: #1c57b7 !important;
}

#viewAllReminderDialog .MuiFormControlLabel-labelPlacementStart {
  margin-left: 0px !important;
}

#viewAllReminderDialog .actionsCustom {
  margin-top: 50px !important;
  padding: 0px 0px 24px 0px !important;
}

/* #viewAllReminderDialogTable {
  padding: 24px 0px 0px 0px !important;
} */
#viewAllReminderDialogTable {
  max-height: 80vh;
  max-width: 100%;
  overflow-x: hidden;
}

#viewAllReminderDialogTable .statusLabel {
  width: 130px;
  height: 20px;
  border-radius: 3px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: "none";
  text-align: center;
  line-height: 22px;
  float: right;
}

#viewAllReminderDialogTable .upcoming {
  background: #d0f2ca;
  color: #349a7b;
}

#viewAllReminderDialogTable .cancelled {
  background: #e5e5e5;
  color: #888888;
}

#viewAllReminderDialogTable .expired {
  background: #fce1d7;
  color: #9a5734;
}

#deleteCommentsDialog .MuiPaper-root {
  overflow: visible !important;
}

#deleteCommentsDialog .marginTopFields {
  margin-top: 20px;
}

#deleteCommentsDialog #addReminderTitle .MuiTypography-h6 {
  align-self: flex-end;
  font-family: "Roboto", sans-serif, Arial;
  font-size: 16px;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
}

#deleteCommentsDialog .MuiButton-label {
  font-weight: 500 !important;
}

#deleteCommentsDialog #addReminderTitle {
  display: flex;
  min-height: 137px !important;
  min-width: 100% !important;
  background-image: url("../assets/delete_header.svg");
  background-size: cover;
}

#deleteCommentsDialog .widthaddReminder {
  min-height: 113px !important;
  min-width: 100% !important;
  text-align: center;
}

#deleteCommentsDialog .widthaddReminder .MuiDialogContent-root {
  text-align: center !important;
}
#deleteCommentsDialog .rv-textContentLeft .MuiDialogContent-root {
  text-align: left !important;
}

#deleteCommentsDialog .MuiGrid-item {
  margin: 10px 0 !important;
}

#deleteCommentsDialog .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #bce2ff !important;
}

#deleteCommentsDialog .MuiSwitch-colorPrimary.Mui-checked {
  color: #1c57b7 !important;
}

#deleteCommentsDialog .MuiFormControlLabel-labelPlacementStart {
  margin-left: 0px !important;
}

#deleteCommentsDialog .actionsCustom {
  margin-top: 50px !important;
  padding: 0px 0px 24px 0px !important;
}

#deleteCommentsDialog .questionText {
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  margin-bottom: 20px;
  display: inline-block;
}

.commentsIcons {
  margin: 0 10px;
  cursor: pointer;
}

.actionButtons {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 36px !important;
  min-width: 36px !important;
  height: 36px !important;
  border-radius: 30px !important;
}

.actionButtons:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: none !important;
  width: 36px !important;
  height: 36px !important;
}

.subHeader .actionSection {
  float: right;
  margin-right: 2px;
  height: 45px;
}

.subHeader .actionSection .calanderImage {
  position: relative;
  margin: -5px 0 0 2px;
}

.subHeader .actionSection .MuiFab-root {
  border-radius: 3px !important;
  overflow: hidden;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 0px 3px #354517;
  border: 1px solid #dbcfb8;
  opacity: 1;
  width: 36px;
  height: 36px;
}

.ceneteredNoRecordText {
  min-height: 248px;
  text-align: center;
  vertical-align: middle;
  line-height: 248px;
}

.newContactBox {
  overflow: hidden;
}

.totalLabel {
  font-size: 0.7rem !important;
}

.totalLabel span {
  font-size: 1rem !important;
}

.contentFlexStart {
  justify-content: flex-start !important;
  padding: 24px 24px !important;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.14);
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

.primaryContactRow {
  display: flex;
  width: 100%;
}

.contactDownCol {
  max-width: calc(100% - 50px);
  flex-basis: calc(100% - 50px);
}

.contactIconCol {
  max-width: 50px;
  flex-basis: 50px;
}

.contactIconCol button:hover {
  background-color: transparent;
}

.contactIconCol button .MuiTouchRipple-root {
  display: none !important;
}

.paperGray {
  background-color: #f5f5f5 !important;
  box-shadow: none !important;
  padding: 10px;
  margin: 30px 0;
  position: relative;
}

.primaryAmountBar {
  display: flex;
  justify-content: flex-end;
}

.primaryAmountBar span {
  margin-left: 10px;
  min-width: 120px;
  width: 150px;
}

.addOpenBtn {
  position: absolute;
  top: 2px;
  right: 10px;
  height: 40px;
  align-items: center;
  display: flex;
}

.addOpenBtn button {
  text-transform: capitalize;
  font-weight: 400;
  color: #805537;
}

.addOpenBtn button .MuiFab-root {
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  min-height: 32px;
  margin-left: 10px;
  color: #805537;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
}

.addOpenBtn button .MuiFab-root .MuiIcon-root {
  font-size: 1.2rem;
}

.addOpenBtn button img {
  margin-left: 7px;
}

.addOpenBtn button:hover {
  background-color: transparent;
}

.addOpenBtn .MuiTouchRipple-root {
  display: none;
}

.radioTextCol {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.radioTextCol .radioCol {
  flex-basis: 40px;
  max-width: 40px;
}

.radioTextCol .textCol {
  flex-basis: calc(100% - 40px);
  max-width: calc(100% - 40px);
}

#addReminderDialog .MuiPaper-root {
  overflow: visible !important;
}

#addReminderDialog .marginTopFields {
  margin-top: 20px;
}

#addReminderDialog #addReminderTitle .MuiTypography-h6 {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
}

#addReminderDialog #addReminderTitle {
  display: flex;
  min-height: 113px !important;
  min-width: 100% !important;
  background-image: url("../assets/reminder_bg.svg");
  background-size: cover;
}

#addReminderDialog #addReminderTitle.mailMergeBg {
  background-image: url("../assets/mail_merge_popup_header.svg") !important;
  position: relative;
  top: -1px;
}

#addReminderDialog .widthaddReminder {
  min-height: 113px !important;
  min-width: 100% !important;
}

#addReminderDialog .MuiGrid-item {
  margin: 10px 0 !important;
}

#addReminderDialog .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #bce2ff !important;
}

#addReminderDialog .MuiSwitch-colorPrimary.Mui-checked {
  color: #2f72f2 !important;
}

#addReminderDialog .MuiFormControlLabel-labelPlacementStart {
  margin-left: 0px !important;
}

#addReminderDialog .actionsCustom {
  margin-top: 50px !important;
  padding: 0px 0px 24px 0px !important;
}

.marginTopDropDown {
  margin-top: 16px !important;
}

.tinyTopBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tinyTopBar .searchInput .MuiFilledInput-root {
  background: #ffffff !important;
}

.tinySearchBar .searchInput .MuiFilledInput-root input {
  height: 36px;
  padding-top: 8px;
}

.tinySearchBar .searchInput .searchIcon {
  top: 8px;
}

.tinySearchBar .searchInput .clearIcon {
  top: 1px;
}

.moreEllipses {
  padding: 0 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  min-width: 40px !important;
  opacity: 0.4;
  margin-top: -5px !important;
}

.moreEllipses:hover {
  background-color: transparent !important;
  opacity: 0.9;
}

.moreEllipses .MuiTouchRipple-root {
  display: none;
}

.dropListViewIcon button {
  width: 36px;
  min-width: 36px;
  height: 36px;
  border: 1px solid #a2a399;
  border-radius: 3px;
  margin-left: 5px;
}

.maxDialogHeight {
  max-height: calc(60vh - 30px);
}

.mandatoryField label::after {
  content: "*";
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  color: #f44336;
  padding-left: 5px;
}

.noOverflow .MuiDialog-paper {
  overflow-y: hidden !important;
}

/* Draggable Code */
.dragAppBar .MuiAppBar-colorPrimary {
  background: #f4f4f4;
  box-shadow: none;
  padding: 0 24px;
}
.dragAppBar .MuiTabs-flexContainer .MuiTab-root {
  margin-right: 50px !important;
}
.dragAppBar .MuiTabs-root .MuiTabs-indicator {
  background-color: #815739;
}
.dragrow {
  display: flex !important;
  align-items: center;
  width: 100%;
}
.dragChecK {
  flex-basis: 35px;
  max-width: 35px;
  order: 1;
}
.draggable-item {
  flex-basis: calc(100% - 35px);
  max-width: calc(100% - 35px);
  height: 48px;
  line-height: 48px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  outline: 0;
  border: 1px solid #f4eddc;
  border-radius: 3px;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #484848;
  padding: 0 16px;
  text-transform: uppercase;
  cursor: move;
  position: relative;
  order: 2;
}
.draggableText {
  flex-basis: calc(100% - 30px);
  max-width: calc(100% - 30px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.draggable-item .dragGrip {
  flex-basis: 30px;
  max-width: 30px;
  text-align: right;
}
.draggable-item .dragGrip img {
  position: relative;
  top: 2px;
}
.opacity-ghost {
  transition: all 0.18s ease;
  cursor: move;
  /* transform: rotateZ(5deg); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.opacity-ghost-drop {
  opacity: 1;
  /* transform: rotateZ(0deg); */
  background-color: white;
  box-shadow: none;
}
.dragBrownCheck {
  display: block;
  padding: 20px 35px;
}
.dragBrownCheck .MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: 0.875rem !important;
  color: #815739;
  text-transform: uppercase;
  margin-left: 10px;
}
/* Draggable Code end */

.datePickerlabel .MuiInputLabel-formControl {
  transform: translate(0, 1.5px) scale(0.75) !important;
  color: #815739;
}

/* age alert css*/
.ageAlert {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.ageAlert .ageAlertIcon {
  color: red;
  font-size: 0.875rem;
}
.ageAlert label {
  color: #805537;
  transform: scale(0.75);
}
.ageAlert .ageAlertIcon::after {
  content: "";
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  width: 15px;
  height: 12px;
  background: url("../assets/age_alert.svg") no-repeat !important;
}
.MuiTypography-root.ageAlert {
  position: relative !important;
}
.innerGridStyle .MuiGrid-item {
  padding: 0;
}

.create-icon {
  padding-left: 1rem;
  cursor: pointer;
}
.primaryContactSuggestion .MuiMenu-paper {
  max-height: calc(100% - 500px);
}
.MuiPopover-root .MuiMenu-paper {
  max-height: 320px;
}
.actionPosition {
  position: relative;
  margin-right: -11px;
}
.topBarListIcon button {
  width: 36px;
  min-width: 36px;
  height: 36px;
  border: 1px solid #a2a399;
  border-radius: 3px;
  margin-left: 5px;
}
.MuiPickersModal-withAdditionalAction .MuiButton-textPrimary::before {
  display: none;
}
.MuiPickersModal-withAdditionalAction .MuiButton-textPrimary {
  height: 36px;
  padding: 7px 15px 6px;
  border-radius: 30px;
}
.MuiPickersModal-withAdditionalAction .MuiButton-textPrimary .MuiButton-label {
  color: #717171 !important;
  text-transform: uppercase !important;
  margin-left: 0 !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: inherit !important;
}
.MuiPickersModal-withAdditionalAction .MuiButton-textPrimary:last-child {
  background-color: #2f72f2 !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24) !important;
}
.MuiPickersModal-withAdditionalAction .MuiButton-textPrimary:last-child .MuiButton-label {
  color: #ffffff !important;
}
.contentFlexStart button,
.MuiDialogActions-root button {
  margin-right: 5px;
  margin-left: 0 !important;
}
.selectAdornment {
  padding-right: 16px;
}
.MuiMenu-paper {
  max-width: 200px !important;
}
.MuiMenu-paper .MuiMenuItem-root {
  white-space: normal;
}
.dateEye {
  position: relative;
  width: 100%;
}
.eye-position {
  position: absolute;
  top: 22px;
  right: 2rem;
  color: rgba(0, 0, 0, 0.54);
}
.eyeShow,
.eyeHide {
  cursor: pointer;
}

/* underwriting css */

.loanListDropMenu #dropDownRecordMenu li {
  border-radius: 0;
}
.progressViewIcon {
  /* position: relative; */
  left: -40px;
}
.tHeaadDrop {
  margin-left: 0 !important;
}
.tHeaadDrop .pageCount {
  margin: 0;
}
.minWidthDrop .MuiMenu-paper {
  min-width: 120px;
}
/* filterBy css */
.filterByDialog .MuiDialog-paper {
  max-width: 650px;
}
.verTabsRoot {
  display: flex;
  width: 650px;
  height: 425px;
  flex-grow: 1;
  justify-content: flex-start;
}
.verTabBox {
  flex-basis: 350px;
  max-width: 350px;
  position: relative;
}
.verTabBox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #608c1a;
  z-index: 999;
}
.verTabs {
  border-left: 2px solid #608c1a;
  height: 100%;
}
.verContentBox {
  flex-basis: 300px;
  max-width: 300px;
  background-color: #fffff9;
  position: relative;
}
.verContentBox .contentInner {
  padding: 10px 20px;
  position: relative;
}
.contentInner .multiSelectList .MuiFormControlLabel-root {
  margin-top: 5px;
  color: #707070;
}
.multiSelectList .MuiCheckbox-root {
  padding: 2px;
}
.multiSelectList .MuiTypography-root {
  font-size: 0.875rem;
  padding-left: 6px;
  line-height: 1.1;
}
.noDialogRadius .MuiDialog-paper {
  border-radius: 0;
}
.filterDialogAction {
  padding: 0 24px;
}
.filterDialogAction button {
  margin-right: 5px;
}
.filterDialogInner {
  position: relative;
  height: 425px;
}
.filterDialogInner .MuiDialogContent-root:first-child {
  padding: 0;
}
.verTabs .MuiTabs-flexContainer {
  padding: 10px 25px;
}
.verTabs .MuiTab-root {
  max-width: 100%;
  width: 100%;
  min-height: 38px;
  padding: 0 !important;
  border-bottom: 1px solid #cacaca;
  text-transform: capitalize;
  font-size: 0.875rem;
  opacity: 0.9;
  font-weight: 400;
  overflow: visible;
  position: relative;
}
.verTabs .MuiTab-root .MuiTab-wrapper {
  align-items: flex-start;
  color: rgba(0, 0, 0, 1);
  font-size: 0.875rem !important;
}
.verTabs .MuiTab-root.Mui-selected {
  background-color: #608c1a;
  color: #ffffff;
  position: relative;
  top: -2px;
  border-bottom: 0.2px solid #608c1a;
}
.verTabs .MuiTab-root.Mui-selected .MuiTab-wrapper {
  color: #ffffff !important;
}
.verTabs .MuiTab-root.Mui-selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  background-color: #608c1a;
}
.verTabs .MuiTab-root .MuiTouchRipple-root {
  display: none;
}
.verTabs .MuiTabs-indicator {
  right: auto;
  left: -2px;
  background-color: #608c1a;
}
.verTabs .MuiTabs-indicator::after {
  content: "";
  position: absolute;
  left: 1px;
  right: 0;
  top: 10px;
  width: 0;
  height: 0;
  margin: auto;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #608c1a;
}
.filterByDiv {
  height: 60px;
  width: 100%;
  position: relative;
}
.filterByDiv .filterByFixed {
  width: calc(350px - 2px);
  height: 60px;
  position: fixed;
  z-index: 99;
  padding: 10px 25px;
  display: block;
  border-bottom: 1px solid #cacaca;
  background-color: #ffffff;
}
.filterByFixed .smallText {
  font-size: 12px !important;
  font-style: italic;
  color: #4f5959;
}
.filterBottomButton {
  height: 60px;
  width: calc(350px - 27px);
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.filterDialogInner .MuiDialogActions-root {
  height: 60px;
  width: 100%;
  border-left: 2px solid #608c1a;
  background-color: #ffffff;
  display: block;
  padding-bottom: 0;
}
.filterDialogInner .MuiDialogContent-root {
  overflow: hidden;
}
.filterDialogInner .MuiTabs-scrollButtons {
  display: none;
}
.filterSearch .MuiFilledInput-root {
  width: 284px;
}
.resultClear {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 99;
}
.resultClear button {
  font-size: 12px;
  color: #2f72f2;
}
.filterClose {
  position: absolute !important;
  top: 7px !important;
  right: 5px !important;
}
.noSearchFound {
  height: 212px;
  width: 246px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: url(../assets/noseach.svg) no-repeat 35px center;
  background-size: 100%;
}
/* filter By end */

/* sorting */
.sort-icon {
  cursor: pointer;
}

.errorMessage .MuiFormHelperText-root {
  color: red !important;
}
.expansionPanel .MuiExpansionPanel-root {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  margin-bottom: 3px;
}
.expansionPanel .MuiExpansionPanelSummary-root {
  border: 1px solid #cad5ea;
  background-color: #f8fcff;
  border-radius: 3px;
  padding-right: 10px;
  text-transform: uppercase;
}
.expansionPanel .MuiExpansionPanelSummary-root .MuiExpansionPanelSummary-content .MuiTypography-root {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.925rem;
}
.expansionPanel .MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 12px 0;
}
.expansionPanel .MuiExpansionPanelSummary-root.Mui-expanded {
  min-height: 48px;
}
.expansionPanel .MuiExpansionPanel-root:before {
  display: none;
}
.expansionPanel .MuiExpansionPanel-root.Mui-expanded {
  margin: 0 0 5px 0;
  border-radius: 3px;
}
.expansionPanelContent {
  width: 100%;
}
.panelLightGreen {
  background-color: #f5fff0 !important;
  border: 1px solid #dbe3d8 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) !important;
}
.gridRowCol .gridCol5 {
  flex-grow: 0;
  max-width: 20%;
  flex-basis: 20%;
}
.paperCardHeading .paperGray {
  margin: 0;
}
.cardHeadingFlex {
  align-items: center;
}
.cardHeadingFlex .totalLatestYear p {
  margin: 0;
  text-transform: uppercase;
}
.batchMenuBtn {
  cursor: pointer;
}
.batchMenuBtn .MuiIcon-root {
  height: 17px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
}
.batchDropMenu .MuiMenu-paper {
  width: 280px;
  max-width: 280px !important;
}

/* end css */
#deleteCommentsDialog #addReminderTitle.reviewTitleBg {
  display: flex;
  min-height: 137px !important;
  min-width: 100% !important;
  background-image: url("../assets/review_event.svg") !important;
  background-size: cover;
  background-position: center;
}
.filter-ul-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #707070;
}
.filter-ul-list ul .MuiListItem-root {
  padding: 5px;
  border-bottom: 1px solid #e6e6e6;
}
.filter-ul-list ul .MuiListItem-root .MuiListItemText-root {
  margin: 0;
}
.filter-ul-list .activeList,
.filter-ul-list ul .MuiListItem-root:hover {
  background-color: #f5f5f5 !important;
  position: relative;
}
.filter-ul-list .activeList {
  background-image: url(../assets/selected_check.svg);
  background-repeat: no-repeat;
  background-position: 97% center;
}
.filter-ul-list ul .MuiListItem-root .MuiTypography-root {
  font-size: 0.875rem;
  line-height: 1.1;
}
.Mui-selected.checkedIcon:after {
  content: "";
  width: 10px;
  height: 8px;
  position: relative;
  top: 0;
  right: 10px;
  background: url(../assets/selected_check_white.svg) no-repeat !important;
}
.checkedIcon:after {
  content: "";
  width: 10px;
  height: 8px;
  position: relative;
  top: 0;
  right: 10px;
  background: url(../assets/selected_check_blue.svg) no-repeat !important;
}

/* property table css */
.statusBtn {
  display: inline-block;
  width: 150px;
  min-height: 20px;
  padding: 5px 0 3px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
}
.color-Reject {
  background-color: #fce1d7;
  color: #9a5734;
}
.color-Approve {
  background-color: #d0f2ca;
  color: #349a7b;
}
.color-Research {
  background-color: #ffe7ae;
  color: #b5871b;
}
.filter-ul-list ul .MuiListItem-root:hover,
.filter-ul-list ul .MuiListItem-root.Mui-selected,
.filter-ul-list ul .MuiListItem-root.Mui-selected:hover {
  background-color: transparent;
}
.filter-ul-list ul .MuiListItem-root .MuiTouchRipple-root {
  display: none;
}
.f-listHeadingText,
.g-hdgText {
  color: #805537;
  font-size: 0.875rem;
  font-weight: 400;
}
/* review panel */
.reviewContainer {
  display: flex;
  width: 100%;
  position: relative;
  height: calc(100vh - 64px);
  background-color: #feffed;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  top: 4px;
}
.reviewContainer .reviewPanelLeft {
  flex-grow: 0;
  max-width: calc(100vw - 44vw);
  flex-basis: calc(100vw - 44vw);
  overflow: hidden;
}
.reviewContainer .reviewPanelRight {
  flex-grow: 0;
  max-width: 44vw;
  flex-basis: 44vw;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}
.reviewPanelRight .topDetailsPanel {
  width: 100%;
  height: 110px;
  display: flex;
  position: relative;
  background: rgb(97, 140, 26);
  background: linear-gradient(180deg, rgba(97, 140, 26, 1) 0%, rgba(74, 85, 35, 1) 100%);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 2px;
  z-index: 1301;
}
.reviewPanelRight .topDetailsPanel::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 70px solid rgba(255, 255, 255, 0.07);
  border-left: 100px solid transparent;
}
.topDetailsPanel .reviewHistoryIcon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
}
.topDetailsPanel .reviewHistoryIcon button {
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
}
.rv-subHeadingtext {
  font-size: 0.7rem;
  color: #feffed;
  font-weight: 400;
  display: flex;
}
.rv-subHeadingDatatext {
  font-size: 0.9rem;
}
.rv-subHeadingtext .rv-iconCol {
  margin-right: 7px;
}
.rv-topGridRow {
  display: block;
  width: 100%;
}
.rv-topGridCol {
  padding-top: 15px;
  justify-content: space-between;
}
.reviewTopTab {
  display: block;
  width: 100%;
  padding: 0 10px;
}
.reviewTopTab .MuiTabs-root .MuiTabs-flexContainer .MuiTab-wrapper {
  color: rgba(255, 255, 255, 0.7) !important;
  text-transform: uppercase;
  font-size: 0.875rem !important;
}
.reviewTopTab .MuiTabs-root .MuiTabs-flexContainer .Mui-selected .MuiTab-wrapper {
  color: #ffffff !important;
}
.reviewTopTab .MuiTabs-root .MuiTabs-indicator {
  background-color: #ffffff;
}
.reviewTopTab button.MuiTab-root {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 10px;
  margin-right: 10px;
}
.rv-tabContent {
  width: 100%;
  height: calc(100% - 210px);
  padding: 15px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.rv-bottomReview {
  height: 100px;
  width: 100%;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #cacaca;
  padding: 10px;
}
.rv-bottomReview .rv-popoverOpenBtn {
  display: flex;
}
.rv-bottomReview .rv-popoverOpenBtn button,
.rv-bottomReview .rv-popoverOpenBtn button:hover {
  background-color: transparent;
  min-width: 34px;
  height: 34px;
  min-height: 34px;
  border-radius: 50%;
  padding: 5px;
}
.rv-bottomReview .rv-popoverOpenBtn button.MuiButton-textPrimary {
  color: #999999;
}
.rv-bottomReview .rv-popoverOpenBtn button {
  margin-right: 3px;
}
.rv-bottomReview .rv-popoverActionRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rv-bottomReview .reviewStar {
  color: #e8e8e8;
}
.rv-bottomReview .reviewStar span {
  cursor: pointer;
}
.rv-bottomReview .reviewStar .activeStar {
  color: #c5b100;
}
.rv-bottomReview .reviewDateText {
  color: #7e7e7e;
  font-size: 0.875rem;
}
.rv-actionBtn {
  margin: 10px 0 0 0;
}
.rv-actionBtn button {
  margin-right: 5px;
}
.escapePopover {
  min-height: 150px;
  max-height: 300px;
  width: calc(44vw - 22px);
  min-width: calc(44vw - 22px);
  max-width: calc(44vw - 22px);
  position: absolute;
  bottom: 90px;
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #f5f5f5;
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.escapePopoverOverlay::before {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  height: calc(100% - 260px);
  width: calc(44vw - 22px);
  top: 170px;
  bottom: 100px;
}

.googleLinkTab {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 0 10px;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
}
.g-hdgText {
  margin-right: 5px;
}
.googleLinkTab a,
.googleLinkTab .MuiLink-root {
  color: #2f72f2;
  font-size: 0.825rem;
  margin: 0 10px;
}
.googleMapPanel {
  width: 100%;
  height: 100%;
  display: block;
}
.googleMapPanel img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
/* review panel end */
